<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/choix_drive.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

  	<div class="wrapper">

		  <div class="header">
				<div class="row">
				  <div class="large-12 columns">
				  	<center>
				  		<h1>logo</h1>
				  	</center>
				  </div>
			  </div>
		  </div>

		  <div class="content">
		  	<div class="row">
					<div class="large-10 large-offset-1 columns">
						<div class="row" name="drive_search" style="padding-top: 20px; background-color: rgb(36,22,111);">
						 <!-- A mettre dans le css-->
							<center>
								<form name="research" action="#">
									<div class="row">
										<div class="large-6 large-offset-3 columns">
											<div class="row collapse">
												<div class="small-10 columns">
													<input type="text" placeholder="Code postal, ville, adresse, ...">
												</div>
												<div class="small-2 columns">
													<a href="#" class="button postfix">Go</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</center>
						</div>
						<div class="row" name="result_drive_search" style="padding-top: 20px; background-color: rgb(18,138,220);">
							<br/>
							<br/>
							<br/>
							<!-- Insérer le contenu dynamique lié a la recherche -->
							<br/>
							<br/>
							<br/>
						</div>
						<div class="row" style="padding-top: 10px; background-color: rgb(19,89,165);" >
							<!-- espace vide -->
						</div>
				  </div>
		  	</div>
		  	<div class="push"></div>
		  </div>

		  <br/>

	  </div>

	  <div class="footer">
	  	<div class="row">
	  		<div class="large-4 columns" style="padding-top:1em; background-color: rgb(18,138,220);">
	  			<div class="small-10 small-offset-1 columns" style="padding-top: 5px; background-color: white;">
	  				<!-- A mettre dans le css-->
	  				<h5>About Us</h5>
	  				<br/>
	  				<br/>
	  			</div>
	  		</div>

	  		<div class="large-4 columns" style="padding-top:1em; background-color: rgb(18,138,220);">
	  			<div class="small-10 small-offset-1 columns" style="padding-top: 5px; background-color: white;">
	  				<h5>Opening Hours</h5>
	  				<br/>
	  				<br/>
	  			</div>
	  		</div>

	  		<div class="large-4 columns" style="padding-top:1em; background-color: rgb(18,138,220);">
		  		<div class="small-10 small-offset-1 columns" style="padding-top: 5px; background-color: white;">
		  			<h5>Legal Informations</h5>
		  			<br/>
		  			<br/>
		  		</div>
		  	</div>
	  	</div>
	  </div>
  </body>
</html>