<div class="alert-box alert round" data-alert>
	Echec de la connexion. V&eacuterifiez votre adresse mail et votre mot de passe.
</div>
<form action="../forms/connexion.php" method="post" data-abide>
	<fieldset>
		<legend style="color: #008FB3;">Connexion</legend>
		<div class="row">
			<div class="large-3 columns">
				<label for="email" class="right inline" style="color: white;">Email</label>
			</div>
			<div class="large-9 columns">
				<input type="email" id="email" name="email" placeholder="mon@adresse.mail" required>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<label for="pwd" class="right inline" style="color: white;">Mot de passe</label>
			</div>
			<div class="large-9 columns">
				<input type="password" id="pwd" name="pwd" placeholder="********" required>
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-centered columns">
				<button type="submit">Soumettre</button>
			</div>
		</div>
</fieldset>
</form>