<!DOCTYPE html>
<html lang="fr">
 
 <head>
 
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>IHM Drive</title>
	<link rel="stylesheet" href="../css/foundation.css" />
	<link rel="stylesheet" href="../css/drivestyles.css" />
	
	<script src="js/vendor/modernizr.js"></script>

</head>

<body>

<br>

<div name=header" class="row">

	<div name="logo" class="large-2 columns">
		<img height="200px" width="200px" alt="Logo" src="../img/LogoIHMDrive.jpg">
	</div>
	
	<div name="research" class="large-6 columns">
		<form name="research" action="#">
			<div class="row">
				<div class="large-12 columns">
					<div class="row collapse">
						<div class="small-10 columns">
							<input type="text" placeholder="Cherchez un article">
						</div>
						<div class="small-2 columns">
							<a href="#" class="button postfix">Go</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div name="login" class="large-4 columns">
		<ul class="button-group round">
			<li><a href="#" class="small button info">Incription</a></li>
			<li><a href="#" class="small button info">Connexion</a></li>
		</ul>
	</div>
	
</div>


<div name="content" class="row collapse">

	<div name="navbar">
	    <div class="large-12 columns">
		    <div class="row collapse">
				<ul class="breadcrumbs">
					<li><a href="#">Accueil</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div name="menubar">
		<div class="large-2 columns">
			<ul class="stack button-group">
				<li><a href="#" class="button">Rayons</a></li>
				<li><a href="#" class="button">Promotions</a></li>
				<li><a href="#" class="button">Informations</a></li>
				<li><a href="#" class="button">Panier</a></li>
				<li><a href="#" class="button">Compte utilisateur</a></li>
			</ul>
		</div>
	</div>
	
	<div name="dynamic_content">
		<div class="large-8 columns">
			Contenu
		</div>
	</div>
	
	<div name="panier">
		<div class="large-2 columns">
			
		</div>
	</div>
	
</div>

<div id="footer" class="row collapse" style="font-size: 80%;">

	<div id="about_us" class="large-4 columns text-justify">
		Ce site a été développé dans le cadre des UE "Design Graphique",
		"Technologies Web", "Génie des systèmes interactifs" et "Techniques d'interaction web" du M2 Interactions Homme-Machine.
	</div>
	
	<div id="about_drive" class="large-4 large-offset-1 columns">
		Drive sélectionné : <br>
		Adresse : <br>
		Horaires d'ouverture : <br>
	</div>
	
	<div id="legal" class="large-2 large-offset-1 columns">
		Ce site n'est pas distribué sous licence.
	</div>
	
</div>

</body>
</html>