<form method="post" action="../forms/modifier.php">
	<fieldset>
		<legend style="color: #008FB3;">A propos de vous</legend>
		<div class="row">
			<div class="large-3 columns">
				<label for="nom" class="right inline" style="color: white;">Nom</label>
			</div>
			<div class="large-9 columns">
				<input type="text" id="nom" name="nom" placeholder="Nom" required pattern="[a-zA-Z]+">
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<label for="prenom" class="right inline" style="color: white;">Pr&eacutenom</label>
			</div>
			<div class="large-9 columns">
				<input type="text" id="prenom" name="prenom" placeholder="Prenom" required pattern="[a-zA-Z]+">
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<label for="mail" class="right inline" style="color: white;">Adresse email</label>
			</div>
			<div class="large-9 columns">
				<input type="email" id="mail" name="mail" placeholder="mail@email.com" required>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<label for="pwd" class="right inline" style="color: white;">Mot de passe</label>
			</div>
			<div class="large-9 columns">
				<input type="text" id="pwd" name="pwd" placeholder="Mot de passe" required>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns">
				<label for="phone" class="right inline" style="color: white;">T&eacutel&eacutephone</label>
			</div>
			<div class="large-9 columns">
				<input type="text" id="phone" name="phone" placeholder="Telephone" pattern="[0-9]{9,11}">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend style="color: #008FB3;">Votre adresse</legend>
		<div class="row">
			<div class="large-2 columns">
				<label for="norue" class="right inline" style="color: white;">Num&eacutero Rue</label>
			</div>
			<div class="large-2 columns">
				<input type="text" id="norue" name="norue" placeholder="No Rue" required pattern="[a-zA-Z0-9]+">
			</div>
			<div class="large-2 columns">
				<label for="nrue" class="right inline" style="color: white;">Nom rue</label>
			</div>
			<div class="large-6 columns">
				<input type="text" id="nrue" name="nrue" placeholder="Nom de votre Rue" required pattern="[a-zA-Z0-9]+">
			</div>
		</div>
		<div class="row">
			<div class="large-2 columns">
				<label for="ville" class="right inline" style="color: white;">Ville</label>
			</div>
			<div class="large-4 columns">
				<input type="text" id="ville" name="ville" placeholder="Nom de votre ville" required pattern="[a-zA-Z0-9]+">
			</div>
			<div class="large-3 columns">
				<label for="cp" class="right inline" style="color: white;">Code postal</label>
			</div>
			<div class="large-3 columns">
				<input type="text" id="cp" name="cp" placeholder="Ex : 31400" required pattern="[a-zA-Z0-9]+">
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="large-4 large-centered columns">
			<button type="submit">Enregistrer</button>
		</div>
	</div>
</form>